// out: ./40-less.css

/* less 导出:
在less文件的第一样添加 // out: 存储文件url

   less 禁止导出:
在 less 文件的第一行添加 // out: false
 */

/*  less 导入:
@import "其他 .less 文件的url";    
可以不加后缀 .less  
*/

/* rem
rem是css中的长度单位，1rem=根元素html的font-size值

px 转 rem:
  px单位尺寸 / 根元素html的font-size值（一般设置为浏览器宽度的1/10）
*/

/* vw / vh   （不建议混用，一般用 vw）
vw：1% of viewport’s width
vh：1% of viewport’s height
viewport即浏览器可视区域大小

px 转 vw 、vh:
  px单位尺寸 / 1/100视口的宽度或高度
*/

.father {
  width: 100 + 20px;
  width: 100px - 20px;
  width: 100 * 2px;

  // width: 100 ./ 5rem;
  width: (100 / 5rem);

  .son {
    color: pink;

    &:hover {
      color: blue;
    }
  }
}

// 定义变量
@myColor: blue;
.box1 {
  background-color: @myColor;
}

.box2 {
  color: @myColor;
}





