.banner {
  position: relative;
  width: 564px;
  height: 315px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 12px;
}

.pics {
  position: absolute;
  display: flex;
}

.pics img {
  width: 564px;
  height: 315px;
}

.banner .left,
.banner .right {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 30px;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

.banner .left {
  border-radius: 0 15px 15px 0;
}

.banner .right {
  right: 0;
  border-radius: 15px 0 0 15px;
  text-align: center;
}

.banner:hover .left,
.banner:hover .right {
  display: block;
}

.right span {
  right: 0;
}

.dots {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
}

.dots a {
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.dots .active,
.dots a:active {
  background-color: #ff5000;
}